Source: obs-test
Section: unknown
Priority: optional
Maintainer: unknown <henning@rhein2>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/obs-test.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/obs-test.git;a=summary

Package: obs-test
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
